<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.cloud.pspdfkit.com/pspdfkit-web@2024.6.0/pspdfkit.js"></script>
    <title>AI Assistant Example App</title>
    <link rel='stylesheet' href='/style.css' />
</head>
<body class="container">
    <!-- Element where PSPDFKit will be mounted. -->
    <div id="pspdfkit" style="width: 100vw; height: 100vh"></div>
    <!-- Initialize PSPDFKit. -->
    <script>
        console.log("Show document <%= documentId %>");
        console.log("JWT <%= jwt %>");
        PSPDFKit.load({
            serverUrl: "http://localhost:5000/",
            container: "#pspdfkit",
            documentId: "<%= documentId %>",
            authPayload: { jwt: "<%= jwt %>" },
            instant: false,
            toolbarItems: [...PSPDFKit.defaultToolbarItems, { type: "ai-assistant" }],
            aiDocumentAssistant: {
                sessionId: "my-random-session-id",
                jwt: "<%= aiJwt %>",
                backendUrl: 'http://localhost:4000/',
            },
        })
            .then(function(instance) {
                console.log("PSPDFKit loaded", instance);
            })
            .catch(function(error) {
                console.error(error.message);
            });
    </script>
</body>

